* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-main-color {
  color: #009688;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #a6a3ea !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #a6a3ea !important;
}

.bg-main {
  background-color: #009688;
}
.btn-main-color {
  background-color: #009688 !important;
  color: #fff !important;
  &:hover {
    background-color: #007267 !important;
  }
}

.btn-light-color {
  background-color: #adb5bd !important;
  color: #fff !important;
  &:hover {
    background-color: #878e94 !important;
  }
}

.link-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: #f0f3f2 !important;
}

.note-img-round {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem white !important;
}

.swal2-popup .swal2-title {
  margin: 20px 0px 0.4em !important;
}

.swal2-popup .swal2-styled {
  margin-top: 0 !important;
}

@media screen and (max-width: 768px) {
  .note-img-round {
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0;
  }
}
